<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Từ điển trực tuyến giúp bạn tra cứu nhanh chóng, chính xác từ hoặc cụm từ Anh - Việt , Việt -  Anh">
    <meta name="keywords" content="tra từ, tra tu, tra câu, tra cau, tra cụm từ, tra cum tu, dictionary, từ điển, tu dien, tiếng anh, tiếng việt, english, vietnamese, ngoại ngữ, anh văn, Anh Việt, Việt Anh, từ vựng, dịch, dịch câu, dịch tiếng anh, dịch anh việt, dịch sang tiếng anh, dịch sang tiếng việt, từ điển dịch câu, từ điển anh việt, dịch chính xác, miễn phí, translate, online, free">
    <meta name="author" content="Nguyễn Đắc Toàn"> 

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='fonts/abc.png') }}" />    
    <title>{% block title %}{% endblock %}</title>

   
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% block body %}{% endblock %}
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src='https://code.jquery.com/jquery-compat-3.0.0-alpha1.js'></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
